body {
  padding: 20px;
  min-height: 100vh;
}

footer {
  position: fixed;
  background-color: #ccc;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: right;
}

.header .lead {
  max-width: 620px;
}

.gallery-item {
  width: 200px;
  padding: 15px;
}

.thumb {
  width: 150px;
  height: auto;
  padding-bottom: 20px;
}

.App {
  min-height: 100vh;
}

.font-face-ps {
 font-family: 'PoorStory';
}

/* ---Background--- */
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #75cef5;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 44;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #fdf986;
    top: 58%;
    left: 9%;
    animation-duration: 16s;
    animation-delay: -47s;
    transform-origin: -10vw -23vh;
    box-shadow: -100vmin 0 12.882120624730948vmin currentColor;
}
.background span:nth-child(1) {
    color: #fdf986;
    top: 18%;
    left: 20%;
    animation-duration: 16s;
    animation-delay: -51s;
    transform-origin: -19vw 13vh;
    box-shadow: -100vmin 0 12.573701475325901vmin currentColor;
}
.background span:nth-child(2) {
    color: #fdf986;
    top: 19%;
    left: 81%;
    animation-duration: 59s;
    animation-delay: -39s;
    transform-origin: 9vw -14vh;
    box-shadow: 100vmin 0 12.834109878841035vmin currentColor;
}
/* ---Background End--- */
